# Cache
.mypy_cache
__pycache__

# Bug with lhcmask and fillingpatterns
modules/

# Miniconda folder
miniconda/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Main output
opt_flathv*